.site-welcome.active{
    position: fixed;
    left: 0;
    top: 0;
    background-color: aqua;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-welcome{
    display: none;
}
.loading{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    
  }
  .loading::before,
  .loading::after{
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    position: absolute;
  /* 水平+垂直居中方法之一
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    animation: s 2s infinite;
  }
  .loading::after{
    animation-delay: 1s;
  }
  
  @keyframes s {
    0% {
      width: 0px; height: 0px; opacity: 1;
    }
    100% {
      width: 100px; height: 100px; opacity: 0;
    }
  }