

body {
    margin: 0;
    background: black;
    color: white;
}


.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.top-nav-bar {
    padding: 20px 16px 20px 16px;
}
.top-nav-bar>a {
    text-decoration: none;
    float: left;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial Black';
    padding-top: 3px;
    padding-bottom: 4px;
}
.top-nav-bar>a>.rs {
    color: #e6686a;
    margin-right: 5px;
}
.top-nav-bar>a>.card {
    color: #9a9da2;
}
.top-nav-bar>nav {
    float: right;
    padding-top: 7px;
}
.top-nav-bar>nav>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.top-nav-bar>nav>ul>li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}

.top-nav-bar>nav>ul>li>a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #b7b7b7;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
.top-nav-bar>nav>ul>li>a:hover{
    border-bottom: 3px solid #e6686a;
}